@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #4d63ef;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#marker {
  width: 55px;
  height: 55px;
  border-radius: 30%;
  transition: 0.5s;
  border: 5px solid #7d78ff;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
}
